/venv
/env
/venv/
/env/
/venv/Scripts/
/env/Scripts/
/venv/Scripts/activate
/env/Scripts/activate
/venv/Scripts/deactivate
/env/Scripts/deactivate
/venv/Scripts/Activate.ps1
/env/Scripts/Activate.ps1
/venv/Scripts/Activate.bat
.env
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python